<div>
  <%= link_to 'Mark as paid', invoice_paid_path(@invoice), {
    method: :patch,
    'hx-patch': invoice_paid_path(@invoice),
    'hx-target': '#form-box',
    'hx-swap': 'innerHTML',      
    class: "toggle-side-pane"
  } %> |
  <%= link_to 'Edit', edit_invoice_path(@invoice), {
    'hx-get': edit_invoice_path(@invoice),
    'hx-target': '#form-box',
    'hx-swap': 'innerHTML',
    class: "toggle-side-pane"
  } %> |
  <%= link_to 'Delete', @invoice, { 
    method: :delete,
    'hx-confirm': 'Are you sure?',
    'hx-delete': invoice_path(@invoice),                  
    'hx-swap': 'outerHTML',
    'hx-target': "#invoice-#{ @invoice.id }"
  } %>
  
</div>