<div id='invoice-actions' class="flex lg:hidden items-center justify-between bg-white p-6 rounded-lg shadow-sm">
  <%= link_to 'Edit', edit_invoice_path(@invoice), 
    
    {
    'hx-get': edit_invoice_path(@invoice),
    'hx-target': '#form-box',
    'hx-swap': 'innerHTML',
    class: "btn btn-muted",
    onclick: 'toggleContainer()',
  } %>
  <%= link_to 'Delete', @invoice, { 
    method: :delete,
    'hx-confirm': 'Are you sure?',
    'hx-delete': invoice_path(@invoice),                  
    'hx-swap': 'outerHTML',
    'hx-target': "#invoice-#{ @invoice.id }",
    class: "btn btn-danger"
  } %>
  <%= link_to "Mark as #{@invoice.paid? ? 'Un' : ''}Paid", toggle_status_invoice_path(@invoice), {
    method: :patch,
    'hx-patch': toggle_status_invoice_path(@invoice),
    'hx-target': '#invoice-actions',
    'hx-swap': 'outerHTML',
    class: "btn btn-default"
  } %>
</div>
